{% import 'bootstrap/wtf.html' as wtf %}
{% include "header.html" %}



  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/flight.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Flight Deals</h1>
            <span class="subheading">Best Flight deals available right for you.</span>
              <div class="container" style="margin-top:40px">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

{{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
      </div>
    </div>
  </div>
          </div>
        </div>
      </div>
    </div>
  </header>

{% include "footer.html" %}